<app-header title="Créer une enchère" enchere="oui"></app-header>

<div class="page-creation">
    <div class="bar">
        <div id="progression" class="progression progression1"></div>
    </div>

    <div class="content">
        <div id="etape1" class="etape1">
            <div>
                <h2 class="title">Commençons à créer votre enchère</h2>
                <p>Un titre précis et la bonne catégorie, c’est le meilleur moyen pour que vos futurs enchérisseurs
                    voient
                    votre annonce !</p>
            </div>

            <form>
                <fieldset class="fieldset">
                    <legend>Quel est le titre de votre enchère ?</legend>
                    <input class="input visible" type="text" name="title" placeholder="table en bois"
                        [(ngModel)]="title" (input)="verifEtape1()" id="input">
                </fieldset>

                <fieldset class="fieldset">
                    <legend>Choisissez votre catégorie *</legend>

                    <select (change)="verifEtape1()" id="select" class="select" required [(ngModel)]="select"
                        (ngModelChange)="getcatdesc($event)" name="selectcategorie">
                        <option value="" disabled>Catégorie</option>
                        <option *ngFor="let item of categories; let index= index;" [ngValue]="item.id" id="{{item.id}}">
                            {{item.titre}}</option>
                    </select>
                </fieldset>

                <fieldset *ngFor="let elem of catdesc" class="fieldset">
                    <legend>{{elem.titre}}</legend>
                    <input *ngIf="!elem.options; else elseblock" type="text" class="input" id="catdesc-{{elem.id}}">
                    <ng-template #elseblock>
                        <select name="catdesc-{{elem.titre}}" id="catdesc-{{elem.id}}">
                            <option *ngFor="let opt of descOpt[elem.id]">{{opt}}</option>
                        </select>
                    </ng-template>
                </fieldset>

<!--                <div *ngIf="numCat == 1 || numCat == 3">
                    <fieldset *ngFor="let elem of catdesc" class="fieldset">
                        <legend>{{elem.titre}}</legend>
                        <input type="text" class="input" />
                    </fieldset>
                </div>

                <div *ngIf="numCat == 4">
                    <fieldset *ngFor="let elem of catdesc" class="fieldset">
                        <legend>{{elem.titre}}</legend>
                        <select *ngIf=" descOpt != null" class="select">
                            <option *ngFor="let opt of descOpt[elem.id]">{{opt}}</option>
                        </select>
                    </fieldset>
                </div>
-->
                <!-- 
                 <fieldset *ngIf="select=='Vêtements'">
                    <legend>Indiquez la taille</legend>
                    <select required [(ngModel)]="selectTaille">
                        <option value="">Taille</option>
                        <option *ngFor="let item of tailles; let index= index;" [ngValue]="item"> {{item}}</option>
                    </select>
                </fieldset>
    
                <fieldset *ngIf="select=='Meubles' || select=='Électroménager' ">
                    <legend>Indiquez les dimensions de votre don </legend>
                    <input type="text" />
                </fieldset>
    
                <fieldset *ngIf="select=='Livres' || select=='Électroménager' ">
                    <legend>Indiquez l'auteur </legend>
                    <input type="text" />
                </fieldset>
                <fieldset *ngIf="select=='Livres' || select=='Électroménager' ">
                    <legend>Indiquez l'édition </legend>
                    <input type="text" />
                </fieldset>
                <fieldset *ngIf="select=='Livres' || select=='Électroménager' ">
                    <legend>Indiquez l'année de parution </legend>
                    <input type="text" />
                </fieldset> -->
            </form>
        </div>

        <div id="etape2" class="etape2 hide">
            <div>
                <h2 class="title">Décrivez votre bien</h2>
                <p>Mettez en valeur votre recherche !</p>
            </div>

            <form>
                <fieldset class="fieldset">
                    <legend>Ajouter une description</legend>
                    <textarea class="textarea" id="textareae2" (input)="verifEtape2()"></textarea>
                </fieldset>

                <div class="form">
                    <label> Ajouter une image : </label>
                    <input type="file" id="inpute2" (input)="verifEtape2()" />
                </div>
            </form>
        </div>

        <div id="etape3" class="etape3 hide">
            <div>
                <h2 class="title">Remise du bien</h2>
                <p>En livraison ou remise en main propre, les gains seront ensuite automatiquement versés à la cause
                    caritative selectionnée.</p>
            </div>

            <div class="bloc-switch">
                <div class="champ">
                    <p>Remise en main propre</p>
                    <label class="switch">
                        <input type="checkbox" id="check" (input)="verifEtape3()">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="infos">Vous acceptez de remettre l’article à votre acheteur en main propre.</p>


                <div class="champ">
                    <p>Livraison</p>
                    <label class="switch">
                        <input type="checkbox" id="check-livraison" (input)="verifEtape3()">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="infos">Vous acceptez d’envoyer l’article à votre acheteur gratuitement via nos partenaires de
                    livraison.</p>
            </div>
        </div>

        <div id="etape4" class="etape4 hide">
            <div>
                <h2 class="title">Estimation de votre bien</h2>
                <p>Fixer un prix de départ et laissez monter les enchères.</p>
            </div>

            <fieldset class="fieldset">
                <legend>Prix de départ des enchères *</legend>
                <input type="number" id="inputdeb" (input)="verifEtape4()" />
                (+ frais de livraison : 0€)
            </fieldset>

            <div class="bloc-switch">
                <div class="champ">
                    <p>Prix de reserve</p>
                    <label class="switch">
                        <input type="checkbox" id="checkres" (input)="addReserve();">
                        <span class="slider round"></span>
                    </label>
                </div>
                <p class="infos">Le prix de réserve vous permet de définir un prix en dessous duquel
                    votre objet ne sera pas vendu. Ainsi, vous avez la garantie de vendre votre objet à un prix
                    supérieur
                    ou égal au prix de réserve.</p>
            </div>
            <div class="reserve hide" id="reserve">
                <fieldset class="fieldset">
                    <legend>Prix de départ de réserve *</legend>
                    <input type="number" id="inputres" (input)="verifEtape4()" />
                </fieldset>
            </div>

            <fieldset class="fieldset">
                <legend>Durée de la vente</legend>
                <select class="select" id="seltemps" (change)="verifEtape4()">
                    <option value=24 selected> 1 journée</option>
                    <option value=48> 2 jours</option>
                    <option value=72> 3 jours</option>
                    <option value=192> 8 jours</option>
                </select>
            </fieldset>

            <p class="infos2">Une commission de 10% TTC du prix de la transaction (prix de l’objet + frais de port)
                s’appliquera suite à la vente de l’objet afin de permettre le maintien et l'évolution de l'application.
            </p>

        </div>

        <div id="etape5" class="etape5 hide">
            <div>
                <h2 class="title">Pour quelle cause sera versée la totalité des profits de l’enchère ?</h2>
            </div>

            <div class="content-item">
                <div class="item" *ngFor="let item of association let index=index">
                    <div class="item__info">
                        <img src="{{item.logo}}" />
                        <div class="item__text">
                            <label for="asso">{{ item.nom }}</label>
                            <a href="{{item.lien}}" target="_blank"> En savoir plus</a>
                        </div>
                    </div>
                    <input type="radio" id="asso{{item.id}}" name="asso" value="{{item.nom}}" (click)="verifEtape5()">
                </div>
            </div>
        </div>

        <div id="etape6" class="etape6 hide">
            <div>
                <h2 class="title">Nous avons bien reçu votre annonce !</h2>
                <p class="infos"> Merci de votre confiance. Votre annonce va être controlée dans les prochaines minutes.
                    Dès réception du mail confirmant sa mise en ligne, vous pourrez la retrouver dans la section “Enchères” de votre compte.</p>
            </div>
        </div>
    </div>

    <div class="footer" id="footer">
        <button class="btn hide" id="btnetape" [ngClass]="{'disabled': disabled == true}" (click)="etapeSuivante()">Continuer</button>
        <a class="btn2 hide" id="btn1et6" (click)="nouvelleEnchere()"> Publier une nouvelle enchère</a>
        <a class="hide" id="btn2et6" (click)="accueil()"> Retour à l'accueil</a>
    </div>
</div>