@import '../../assets/vars.scss'; 

.page-creation {

    .bar {
        position: relative;
        width: 100vw;
        height: 4px;
        background-color: $secondary;

        .progression {
            height: 4px;
            background-color: $primary;
            width: 13vw;
        }
    }

    .content {
        margin-bottom: 90px;
    }

    .title {
        font-size: 26px;
    }


    .footer {
        position : fixed;
        bottom: 0;
        min-height: 80px;
        background-color: $light-purple;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        button {
            display: flex;
            align-items: center;
            color: $white;
            border-radius: 100px;
            background-color: $primary;
            margin-right: 25px;
            min-height: 40px;
            border: 0;
            font-size: 18px;
            padding: 0 20px;
            background-color: rgba($primary, .8);
            transition: background-color, .2s;
            cursor: pointer;
    
            &:hover {
                background-color: $primary;
            }
    
            &.disabled {
                color: $dark-grey;
                background-color: $grey;
                opacity: .5;
                cursor: default;
    
                &:hover {
                    background-color: $grey;
                    pointer-events: none;
                }
            }
        }
    }
}