/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


//Ref couleur 
$black : #000;
$dark-grey: #49454F;
$grey : #79747E;
$primary: #6750A4;
$secondary: #E8DEF8;
$white : #FFF;
$dark-purple: #625B71;
$light-purple : #f3edf7;


body {
    margin: 0;
    max-width: 100vw;
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

p, span, button, div {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

figure {
    margin: 0;
}

app-user-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: $light-purple;
    box-shadow: -8px 18px 10px 14px $black;

    @media screen and (max-width: 480px) {
        width: 101vw;
    }
}