.container {
    display: flex;
    justify-content: center;
    margin: 25px 0 ;

    button {
        position: relative;
        font-size: 16px;
        color: $black;
        background: $white;
        font-weight:500;
        border: 1px solid $grey;
        min-height: 40px;
        padding: 0 13px 0 25px;

        &:first-of-type {
            border-radius: 100px 0px 0px 100px;
            margin-right: 0;
        }

        &:last-of-type {
            border-radius: 0px 100px 100px  0px;
            margin-left: 0;
        }

        @media screen and (max-width: 480px) {
            font-size: 14px;
        }

        @media screen and (max-width: 360px) {
            width: fit-content;
            min-height: 35px;
            
            &:last-of-type,
            &:first-of-type {
                border-radius: 20px;
            }
        }
    }

    .active {
        background-color : $secondary;

        &::before {
            content: '';
            display: block;
            background: url('/assets/images_app/icon-validate.svg') no-repeat;
            background-size: contain;
            position:absolute; 
            left: 9px;
            top: 14px;
            width: 14px;
            height: 10px;
            
            @media screen and (max-width: 360px) {
                top: 11px;
            }
        }
    }

    .not-active {
        &:hover {
            background-color: $light-purple;

            &::before {
                content: '';
                opacity: .5;
                display: block;
                background: url('/assets/images_app/icon-validate.svg') no-repeat;
                background-size: contain;
                position:absolute; 
                left: 9px;
                top: 14px;
                width: 14px;
                height: 10px;
            }  
        }

    }

    @media screen and (max-width: 360px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}