<div class="page-connexion">
    <div class="header">
        <img class="header__logo" src="./assets/images_app/logo2.svg" alt="logo" />
    </div>

    <h1 class="title">Connexion</h1>

    <div class="info">
        <p >Il est nécessaire de se connecter pour avoir accès à certaines fonctionnalités du site. Si vous n'en
            avez pas, il est possible
            d'en créer un en cliquant sur le lien présent sous le formulaire.
        </p>
        <a routerLink="/home">
            <img src="../../assets/images_app/icon-chevron-left.svg" />
            Retour
        </a>
    </div>

    <div class="content">
        <div class="container">
            <form class="form">
                <div class="form__item">
                    <label>Identifiant</label>
                    <input type="mail"  [(ngModel)]="mail" name="mail"/>
                </div>

                <div class="form__item">
                    <label>Mot de passe</label>
                    <input type="password"  [(ngModel)]="password" name="password"/>
                </div>

                <input type="submit" value="Me connecter" class="submit" (click)="connexion()">
            </form>
        </div>

        <div class="others">
            <p>Pas encore inscrit ? <a routerLink="/inscription">Cliquez ici</a></p>
            <p>Mot de passe oublié ? <a routerLink="/mot-de-passe-oublie">Cliquez ici</a></p>
        </div>
    </div>
</div>