<ul class="nav-user">
    <li class="nav-user__item">
        <a routerLink="/home" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-search.png"/>
            </figure>
            <p>Rechercher</p>
        </a>
    </li>

    <li class="nav-user__item">
        <a routerLink="/mes-favoris" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-star.png"/>
            </figure>
            <p>Favoris</p>
        </a>
    </li>

    <li class="nav-user__item">
        <a routerLink="/creer-une-enchere" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-plus.png"/>
            </figure>
            <p>Publier</p>
        </a>
    </li>

    <li class="nav-user__item">
        <a routerLink="/mes-messages" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-mail.png"/>
            </figure>
            <p>Message</p>
            <span class="notif">3</span>
        </a>
    </li>

    <li class="nav-user__item">
        <a routerLink="/mon-compte" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-user.png"/>
            </figure>
            <p>Mon compte</p>
        </a>
    </li>
</ul>
 