@import '../../assets/vars.scss';
@import '../../assets/button-livraison.scss';


.encheres{ 
    &__bloc {
        display: flex;
        gap: 2%;
        flex-wrap: wrap;
        padding: 0 20px 80px 0;
    
        @media screen and (max-width: 480px) {
            padding-right: 0;
        }
    }
}

.encheres-item {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: unset;

    .item-image{
        position: relative;

        figure {
            margin: 0;
            max-width: 40vw;

            img {
                width: 100px;
                height: auto;
                object-fit: cover;
            }

            @media screen and (max-width: 480px) {
                max-width: unset;
                width: auto;
            }
        }

        .number {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $dark-purple;
            color: $white;
            width: 25px;
            height: 25px;
            right: 10px;
            bottom: 10px;
            border-radius: 50px;
        }

        &:hover {
            cursor: pointer;
        }
    }


    .item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 16px;
        width:100%;

        p {
            margin: 0;
        }

        .title {
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 40px;

            &:hover {
                text-decoration: underline;
            }
        }

        .title, .price {
            font-weight: 500;

            &:hover {
                cursor: pointer;
            }
        }

        .price {
            color: $primary;
            margin-bottom: 15px;
        }

        .location, .categorie {
            color: $dark-purple;
        }

        .option {
           display: flex;
           align-items: flex-end;

            @media screen and (max-width: 360px) {
               display: block;
            }
        }

        .option-star {
            width: 20px;
            height: 20px;
            margin: 5px 0;
            background: url("/assets/images_app/icon-star.svg");
            background-size: cover;
            border: 0;

            &:hover {
                background: url("/assets/images_app/icon-star-full.svg");
                cursor: pointer;
            }

            @media screen and (max-width: 360px) {
                margin: 5px 0 0 0;
            }
        }

        .full {
            background: url("/assets/images_app/icon-star-full.svg");
        }
    }

    @media screen and (max-width: 1023px) {
        width: 40%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    @media screen and (max-width: 360px) {
        padding: 0;
    }

    &:hover {
        background-color: rgba($secondary, .3);
    }
}