<div class="encheres__bloc" >
    <div *ngFor="let item of filter; let index = index;" class="encheres-item">
        <div class="item-image" (click)="redirectionFiche(item)">
            <figure>
                <img src="{{item.lienImages}}" alt="image produit"/>
            </figure>

            <div class="number"> 1</div>
        </div>

        <div class="item-info">
            <div (click)="redirectionFiche(item)">
                <p class="title">{{item.designation}}</p>
                <p class="price">{{item.prixDepart}} €</p>
            </div>
            <div>
                <p class="categorie">{{getCategorie(item.idCategorie)}}</p>
                <p class="location">{{item.nomVille}}</p>

                <div class="option">
                    <div *ngIf='item.idLivrison == true' class="option-livraison"> Livraison</div>
                    <button class="option-hearth" [ngClass]="{'full' : full =='true'}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
