<div class="encheres__bloc" >
    <div *ngFor="let item of filter.reverse(); let index = index;" class="encheres-item">
        <div class="item-image" (click)="redirectionFiche(item)">
            <figure *ngIf=" item.lienImages != ''">
                <img src={{item.lienImages}} alt="image produit"/>
            </figure>

            <div class="number"> {{getNbImages(item.lienImages)}}</div>
        </div>

        <div class="item-info">
            <div class="line1" (click)="redirectionFiche(item)">
                <div>
                    <p class="title">{{item.designation}}</p>
                    <p class="price">{{item.prixDepart}} €</p>
                </div>
                <div class="logo-asso" >
                  <img src="{{link[item.idAssociation]}}" />
                </div>
            </div>
            <div>
                <p class="categorie">{{ categories[item.idCategorie].titre }}</p>
                <p class="location">{{item.nomVille}}</p>

                <div class="option">
                    <div *ngIf='item.idLivrison == true' class="option-livraison"> Livraison</div>
                    <button class="option-hearth" [ngClass]="{'full' : full =='true'}" (click)="(fav(item.id))"></button>
                </div>
            </div>
        </div>
    </div>
</div>
