/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'assets/vars.scss';

body {
    margin: 0;
    max-width: 100vw;
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

p, span, button, div {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

p, figure {
    margin: 0;
}

app-user-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: $light-purple;
    box-shadow: -8px 18px 10px 14px $black;

    @media screen and (max-width: 480px) {
        width: 101vw;
    }
}

.page-compte {
    app-card-enchere {
        .encheres-item {
            margin: 10px 0 5px;
            border: .5px solid $primary;
            background-color: $white;
            border-radius: 8px;
            width: 90%;

            .option-hearth {
                @media screen and (max-width: 480px) {
                    display: none;
                }
            }

            @media screen and (max-width: 480px) {
                width: 88%;
            }
        }
    }
}