<div class="page-inscription">
    <div class="header">
        <img class="header__logo" src="./assets/images_app/logo2.svg" alt="logo" />
    </div>
    
    <h1 class="title">Créer un compte</h1>
    <div class="info">
        <a routerLink="/home">
            <img src="../../assets/images_app/icon-chevron-left.svg" />
            Retour
        </a>
    </div>
    
    <div class="content">
        <div class="container">
            <form class="form">
                <div class="form__item">
                    <label>Nom</label>
                    <input type="text" />
                </div>
            
                <div class="form__item">
                    <label>Prénom</label>
                    <input type="text" />
                </div>
            
                <div class="form__item">
                    <label>Adresse mail</label>
                    <input type="text" />
                </div>
            
                <div class="form__item">
                    <label>Ville</label>
                    <input type="text" />
                </div>
            
                <div class="form__item">
                    <label>Choisisez un mot de passe</label>
                    <input type="password" />
                </div>
            
                <div class="form__item">
                    <label>Confirmez votre mot de passe</label>
                    <input type="password" />
                </div>
            
                <input type="submit" value="Créer mon compte" class="submit">
            </form>
        </div>
    
        <div class="others">
            <p>Vous avez déjà un compte ? <a routerLink="/connexion">Cliquez ici</a></p>
        </div>
    </div>
</div>


