<div class="header">
    <img class="header__logo" src="./assets/images_app/logo2.svg" alt="logo" />
</div>

<h1 class="title">Mot de passe oublié</h1>

<div class="content">
    <div class="container">
        <p class="info">Renseignez votre adresse mail, pour recevoir un nouveau mot de passe.</p>
        <form class="form">
            <div class="form__item">
                <label>Adresse mail</label>
                <input type="mail" />
            </div>
        
            <input type="submit" value="Réinitialiser mon mot de passe" class="submit">
        </form>
    </div>

    <div class="others">
        <p><a routerLink="/home">Retourner sur la page d'accueil</a></p>
    </div>
</div>