@import '../page-inscription/page-inscription.component.scss';


.info {
    display: block;
    margin-left: 15px;
}

.container {
    display: block;
}

.form {
    display: flex; flex-direction: column
}

.submit {
    width: fit-content;
}