<div class="wrapper-left">
    <div class="header">
        <img class="header__logo" src="./assets/images_app/logo2.svg" alt="logo" />
    </div>

    <div class="home-nav">
        <div class="bloc-search">
            <input type="text" name="rechercher" [(ngModel)]="search" placeholder="Que recherchez-vous ?"
                (focus)="reset()" class="search" />
            <div class="bloc-reset">
                <button (click)="reset()" class="reset"> X Réinitialiser</button>
            </div>
        </div>

        <ul class="categories">
            <li *ngFor="let item of categories; let index=index;" class="categories__item">
                <button (click)="reset();filteredList(this.item.titre, index);" id="btn{{index}}"> {{item.titre}}</button>
            </li>
        </ul>
    </div>

    <div class="encheres">
        <h2 class="encheres__title">
            Nouvelles enchères
        </h2>

        <!-- <div class="encheres-item">
                <div class="item-image">
                    <figure>
                        <img src="./assets/images_bd/produit.png" allt="image produit"/>
                    </figure>
    
                    <div class="number">2</div>
                </div>
    
                <div class="item-info">
                    <div>
                        <p class="title">Titre annonce</p>
                        <p class="price">20e</p>
                    </div>
                    <div>
                        <p class="categorie">Catégorie</p>
                        <p class="location">Lieu</p>
                        <div class="option">
                            <div class="option-livraison"> Livraison </div>
                            <button class="option-star"></button>
                        </div>
                    </div>
                </div>
            </div> -->

        <app-card-enchere [filter]=maj_liste() full="false"></app-card-enchere>
    </div>
</div>

<!-- Menu utilisateur -->
<app-user-nav></app-user-nav>