@import '../../assets/vars.scss';

.nav-user {
    display: flex;
    margin-bottom: 0;
    &__item {
        display: flex;
        justify-content: center;
        list-style: none;
        flex: 25%;

        &-link {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $dark-grey;
            text-decoration: none;
            width:fit-content;


            p {
                font-weight: 500;
                margin: 10px 0;
            }

            figure {
                width: 65px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color, .2s;
            }

            img {
                object-fit:contain;
                width: 21px;
                height: 21px;
            }

            .notif {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 16px;
                width: 16px;
                background-color: $red;
                border-radius: 50px;
                top: -3px;
                transform: translateX(8px);
                color: $white;
                font-size: 11px;
                font-weight: 500;

                @media screen and (max-width: 360px) {
                    top: 0px;
                    transform: translateX(35px);
                }
            }

            &:hover {
                figure {
                    border-radius: 16px;
                    background-color: $secondary;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        &__item {
            flex: 17%;
            &-link {
                p {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }

    @media screen and (max-width: 360px) {
        flex-wrap: wrap;
        gap: 10%;
        margin-top: 5px;

        &__item {
            flex: 40%;
            &-link {
                flex-direction: row;
                flex: 30%;

                figure {
                    height: auto;
                }
            }
        }
    }
}