<ul class="nav-user">
    <li class="nav-user__item">
        <a routerLink="/home" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-search.svg"/>
            </figure>
            <p>Rechercher</p>
        </a>
    </li>

    <li class="nav-user__item">
        <a routerLink="/mes-favoris" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-star.svg"/>
            </figure>
            <p>Favoris</p>
        </a>
    </li>

    <li class="nav-user__item">
        <a routerLink="/creer-une-enchere" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-plus.svg"/>
            </figure>
            <p>Publier</p>
        </a>
    </li>

    <li class="nav-user__item">
        <a routerLink="/mes-messages" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-mail.svg"/>
            </figure>
            <p>Messages</p>
            <span class="notif">3</span>
        </a>
    </li>

    <li class="nav-user__item">
        <a routerLink="/mon-compte" class="nav-user__item-link">
            <figure>
                <img src="./assets/images_app/icon-user.svg"/>
            </figure>
            <p>Mon compte</p>
        </a>
    </li>
</ul>
 