<div class="header">
    Mes favoris
</div>

<div class="content">
    <div>
    
    </div>

    <div *ngFor="let item of listFav(); let index = index;" class="encheres-item">
        <div class="item-image">
            <figure>
                <img src="{{item.img[0]}}" allt="image produit"/>
            </figure>

            <div class="number">{{item.img.length}}</div>
        </div>

        <div class="item-info">
            <div>
                <p class="title">{{item.nom}}</p>
                <p class="price">{{item.prix_entree}}</p>
            </div>
            <div>
                <p class="categorie">{{item.categorie}}</p>
                <p class="location">{{item.localisation}}</p>

                <div class="option">
                    <div *ngIf='item.livraison == "oui"' class="option-livraison"> Livraison</div>
                    <button class="option-star"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-user-nav></app-user-nav>
 