<app-header title="Mes messages"></app-header>

<div class="content">
    <div class="container">
        <button [ngClass]="{'active': varencours == true, 'not-active': varencours == false}" (click)="filtre()"> Messages</button>
        <button [ngClass]="{'active': varencours == false, 'not-active': varencours == true}" (click)="filtre()"> Notifications</button>
    </div>
    <!-- <p class="info">Cliquez pour afficher le contenu supplémentaire</p> -->

    <div *ngIf="messages ==true" class="content__messages">
        <div *ngFor="let item of messagesList; let index=index" class="content__messages-item" [ngClass]="{'non-lu' : item.statut != 'lu'}" (click)="openMsg(index, item.expediteur)">
            <figure class="figure">
                <img src="{{item.image}}"  class="figure__image"/>
            </figure>

            <div class="bloc-text">
                <p class="title"> {{item.expediteur}}
                    <span class="subtitle"> {{item.enchere}}</span>
                </p>
                <p class="hide2" id="texte{{index}}"><span *ngFor="let msg of item.msg"> {{msg}}</span></p>
            </div>

            <div class="infos">
                <p class="date"> {{item.date}}</p>
                <div  *ngIf="item.statut != 'lu'" class="elem-notif">
                    <img src="./assets/images_app/icon-mail-purple.svg" class="icon"/>
                    <span class="notif">{{item.msg.length}}</span>
                </div>
            </div>
        </div>

        <app-message class="hide2" id="modalmsg{{identifiant}}" (close)="Close(identifiant)" destinataire="{{expediteur}}"></app-message>
    </div>

    <div *ngIf="messages==false"class="content__notification">
        <div *ngFor="let item of notifs; let index=index"  class="content__notification-item"  [ngClass]="{'non-lu' : item.etat == 0}" (click)="toggleNotification(index, item.id)">
            <figure class="figure">
                <img src="./assets/images_app/icon-checked.svg"  class="figure__image"/>
            </figure>

            <div class="bloc-text">
                <p class="title"> {{item.titre}}
                    <span class="subtitle"> {{item.message.substring(0, 47) + "..."}}</span>
                </p>
                <p class="hide2" id="texte{{index}}"> {{item.message}}</p>
            </div>

            <div class="infos">
                <p class="date"> 15 dec.</p>
            </div>
        </div>

    </div>
</div>



<app-user-nav></app-user-nav>
